{% extends "layout.html" %}
{% macro widget_panel_form(full_name, name) %}
<span>
  {{ full_name }}
</span>
<div>
  <form id="{{name}}SizeForm">
    <div class="row group">
      <div class="input-field col s6">
	<input id="{{name}}W" placeholder="Width">
      </div>
      <div class="input-field col s6">
	<input id="{{name}}H" placeholder="Height">
      </div>
    </div>
  </form>
</div>
{% endmacro %}
{% block body %}
<script src="/static/js/home.js"></script>
<nav>
</nav>
<div id="WidgetsPanelContainer" class="row">
  <div id="WidgetsPanelCard" class="card">
    <div id="WidgetsPanel" class="col s6">
      <canvas id="WidgetCanvas"></canvas>
    </div>
    <div id="WidgetPanelControls" class="col s6">
      <ul class="collection">
	<li class="collection-item avatar">
	  <img class="circle" src="/static/img/TasksLogo.png">
	  {{ widget_panel_form("Google Tasks", "GoogleTasks") }}
	</li>
	<li class="collection-item avatar">
	  <img class="circle" src="/static/img/TwitterLogo.png">
	  {{ widget_panel_form("Twitter", "Twitter") }}
	</li>
	<li class="collection-item avatar">
	  <img class="circle" src="/static/img/GmailLogo.png">
	  {{ widget_panel_form("Gmail", "Gmail") }}
	</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
